/*
Website colors
--white: #ffffffff;
--sandy-brown: #fc9f5bff;
--red: #ff0000ff;
--ink-black: #0c1618ff;
--dim-grey: #65655eff;
*/

.header {
    overflow: hidden;
    top: 10px;
    background-color: rgba(255, 145, 0, 0.816);
    padding: 5px;
    border-radius: 16px;
    border: #0000004e;
    margin: 10px;
  }
  
  .header a {
    float: left;
    font-family: "Sekuya", system-ui;
    color: #0c1618ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .header a.hover {
    background-color: #ff0022c7;
    color: black;
  }
  
  .header a.active {
    background-color: #ff002250;
    color: #0c1618ff;
  }

  .header b {
    float: right;
    font-family: "Roboto", sans-serif;
    color: #0c1618ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .header b:hover {
    background-color: #ff0022c7;
    color: black;
  }
  
  .header b.active {
    background-color: #ff002250;
    color: #0c1618ff;
  }

/*Sets anything labled "body" to have that background color*/
body{
  /*Cite Background Info*/
  background-image: url("images/output-onlinepngtools (1).png");
  background-repeat: no-repeat; /*Stops the background from repeating if the background does not fill the page*/
  background-attachment: fixed; /*Makes the background streatch to the end of the page and not move with the page*/
  background-position: center; /*Centers the immage*/
  background-size: cover; /*Makes the background size shift as needed*/
  font-family: "PT Serif", serif;
  padding: 10px;
}

.headlinebox { /* Box that all the Headline elements are in*/
    margin: 10px; /* Gives items space between*/
    width:  -10px;
    border: 10px;
    height: 500px;
    padding: 10px;
    object-fit: contain;
    background-color: #fc9f5bff;
    overflow: hidden; 
    border-radius: 16px;
    display: flex;
  }

.leftheadlinebox { /* Left side of the box that all the Headline elements are in*/
    border-radius: 8px;
    width:  100%;
    height: 100%;
    object-fit: contain;
    display: inline-block;
  }
.leftheadlinebox img {
  border-radius: 8px;
  width:  100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}
  
.centerheadlinebox { /* Center side of the box that all the Headline elements are in*/
    border-radius: 8px;
    width:  100%;
    height: 100%;
    display: inline-block;
    object-fit: fill;
  }

.rightheadlinebox { /* Rignt side of the box that all the Headline elements are in*/
  width:  100%;
  height: 100%;
  padding: 10px;
  display: inline-block;
  object-fit: contain;
}

.rightheadlinebox p { /* Rignt side of the box that all the Headline elements are in*/
  width:  100%;
  padding: 10px;
  font-size: x-large;
  display: inline-block;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center */
  object-fit: contain;
}

.rightheadlinebox h1 { /* Rignt side of the box that all the Headline elements are in*/
  width:  -10px;
  height: 10%;
  padding: 10px;
  font-style: bolder;
  font-size: 50px;
  display: inline-block;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center */
  object-fit: contain;

}

.contentbox {
  margin: 10px; /* Gives items space between*/
  width: -10px;
  border: 10px;
  height: 500px;
  padding: 10px;
  border-radius: 16px;
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center */
  overflow: clip;

}

.contentbox img {
  border-radius: 8px;
  width: 100%;
  height: 70%;
  object-fit: cover;
  overflow: clip;
  border-radius: 16px;
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center */
}

.contentbox h4 {
  font-style: bolder;
  font-size: 20px;
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center */}

.contentbox p {
  font-style: bolder;
  font-size: medium;
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center */
  text-align: center;
}

.rightcontentbox{ /* Right side of the box that holds content elements*/
  margin: 10px; /* Gives items space between*/
  width: 30%;
  height: 500px;
  padding: 10px;
  display: inline-block;
  object-fit: contain;
  background-color: rgb(216, 150, 64);
  border-radius: 16px;
}

.centercontentbox{ /* Center side of the box that holds content elements*/
  margin: 10px; /* Gives items space between*/
  width: 30%;
  height: 500px;
  padding: 10px;
  display: inline-block;
  object-fit: contain;
  background-color: rgb(232, 202, 161);
  border-radius: 16px;
}

.leftcontentbox{ /* Left side of the box that holds content elements*/
  margin: 10px; /* Gives items space between*/
  width: 30%;
  height: 500px;
  padding: 10px;
  display: inline-block;
  object-fit: contain;
  background-color: antiquewhite;
  border-radius: 16px;
}

footer {
  top: 10px;
  width: 100%;
  text-align: center;
  font: 22px;
  background-color: hsla(0, 0%, 41%, 0.8);
}

footer button{
  width: 50px;
  height: 50px;
  object-fit: cover;
}

footer button image{
  width: 50px;
  height: 50px;
  object-fit: fill;
}

/*https://uiverse.io/david-mohseni/brave-shrimp-86*/
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 90%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .itchio:hover,
.wrapper .itchio:hover .tooltip,
.wrapper .itchio:hover .tooltip::before {
  background: #fa5c5c;
  color: #fff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #fff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #0077B5;
  color: #fff;
}
.wrapper .icon a {
  color: inherit;
  text-decoration: none;
}

.wrapper .icon a:visited {
  color: inherit;
}

.wrapper .icon a:hover {
  color: inherit;
}

.wrapper .icon a:active {
  color: inherit;
}
